<section class="feedback-block">
    <div class="container">
        <div class="feedback-box">
            <div class="info-box">
                <h2 class="template-title">Stay in the know.</h2>
                <h4 class="feedback-description">Sign-up to my newsletter to get an update whenever I post a new article. I try to be very mindful of not spamming my subscribers.</h4>
            </div>
            <div class="form-box">
                <div class="input-box">
                    <label for="name">Name</label>
                    <input type="text">
                </div>
                <div class="input-box">
                    <label for="email">Email Adress</label>
                    <input type="text">
                </div>
                <button class="btn btn-custom">Submit</button>    
            </div>
        </div>
    </div>
</section>