<footer>
<div class="container">
<div class="footer-info">
	<div class="footer-text">
		<img src="assets/img/logo.svg" alt="logo">
		<h4 class="footer-description">A lifestyle blog about minimalism, technology, design & travel. Powered by Webflow</h4>
	</div>
	<div class="footer-nav">
	<a href="#">Start</a>
	<a href="#">Archive</a>
	</div>
	<div class="footer-nav">
		<a href="#">Instruction</a>
		<a href="#">Style guide</a>
		<a href="#">Licenses</a>
		<a href="#">Changelog</a>
	</div>	
</div>	
</div>
</footer>
<script async src="assets/js/custom.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>